.inv-button {
  position: absolute;
  background: url("../assets/inventory-button.png") no-repeat center/contain;
  height: 15%;
  width: 20%;
  top: 0;
  z-index: 8;
  border: none;
  cursor: pointer;
}

.menu-1 {
  right: 2%;
}

.menu-2 {
  left: 2%;
}

.button-text {
  font-size: xx-large;
}
