.inventory-list {
  background: url("../assets/wrapper.png") no-repeat center/contain;
  background-size: contain;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40%;
  height: 90%;
}

.item {
  position: relative;
  margin: 3%;
  width: 20%;
  height: 18%;
  background: url("../assets/slot.png") no-repeat center/cover;
}

.item > i {
  position: absolute;
  top: 0;
}
