.avatar-container {
  background: url("../assets/wrapper.png") no-repeat center center/contain;
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.avatar-logo {
  background: url("../assets/avatar-pic.png") no-repeat center center/contain;
  width: 40%;
  height: 30%;
}

.avatar-desc {
  background: url("../assets/avatar-desc.png") no-repeat center center/contain;
  width: 90%;
  height: 60%;
  background-position: top;
}

.materials-amount {
  display: flex;
  flex-direction: column;
}

.required-materials {
  margin: 5%;
}
