@font-face {
  font-family: "Rpg-font";
  src: url("./fonts/BreatheFire-65pg.ttf");
}

* {
  font-family: "Rpg-font";
  color: #f4f4f4;
}

.background {
  background-image: url("./assets/game-bg.jpg");
  background-repeat: round;
}

.game-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  height: 95vh;
  width: 135vh;
  border: black solid 5px;
  background: url("./assets/world_map.jpg") no-repeat center center/cover;
}
